{% extends "admin_base.html" %}
{% block title %}{{ super() }} - Certificates{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">System information</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">#User: {{ sysinfo.users_count }}</li>
            <li class="list-group-item">#Certificates: {{ sysinfo.certificates_count }}</li>
            <li class="list-group-item">#Active certificates: {{ sysinfo.active_certificates_count }}</li>
            <li class="list-group-item">#Update-Requests: {{ sysinfo.update_requests_count }}</li>
          </ul>
    </div>
</div>

<h1>All created certificates</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>User</td>
            <td>Title</td>
            <td>Revoked</td>
            <td>Description</td>
            <td>Download</td>
            <td>Revoke</td>
        </tr>
    </thead>
    <tbody class="table-hover">
    {% for certificate in certificates %}
        <tr>
            <td>{{ certificate.uid }}</td>
            <td>{{ certificate.title }}</td>
            <td>{{ certificate.revoked }}</td>
            <td>{{ certificate.description }}</td>
            <td><a href="{{ url_for('admin_app.download_certificate', certificate_id=certificate.id) }}" class="btn btn-success btn-lg">Download certificate</a></td>
            <td>
                {% if not certificate.revoked %}
                    <a href="{{ url_for('admin_app.revoke_certificate', certificate_id=certificate.id) }}" class="btn btn-danger btn-lg">Revoke certificate</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No certificates available</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}