{% extends "base.html" %}
{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}
<form role="form" method="POST" action="{{ url_for('user_app.change_password') }}">
  <div class="form-group">
    {{form.password_new1.label }}
    {{ form.password_new1(class="form-control", placeholder="new password") }}
  </div>
  <div class="form-group">
    {{form.password_new2.label }}
    {{ form.password_new2(class="form-control", placeholder="reenter new password") }}
  </div>
  <div class="form-group">
    {{ form.password_old.label }}
    {{ form.password_old(class="form-control", placeholder="current password") }}
  </div>
    {{ form.csrf_token }}
  <button type="submit" class="btn btn-default">Login</button>
</form>
{% endblock %}