{% extends "base.html" %}
{% block title %}{{ super() }} - User page{% endblock %}

{% block content %}
<h1>User information</h1>
<p>
<form role="form" method="POST" action="{{ url_for("user_app.index")}}">
    <label>User ID:</label>
    {{ g.user_data.uid }}
    </br>

    <div class="form-group">
        {{ form.firstname.label }}
        {{ form.firstname(class="form-control", placeholder=g.user_data.firstname) }}
    </div>
    <div class="form-group">
        {{form.lastname.label }}
        {{ form.lastname(class="form-control", placeholder=g.user_data.lastname) }}
    </div>
    <div class="form-group">
        {{form.email.label }}
        {{ form.email(class="form-control", placeholder=g.user_data.email) }}
    </div>
  <button type="submit" class="btn btn-default">Update Request</button>
</form>

    </p>
<h1>Certificates</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Download</td>
            <td>Revoke</td>
        </tr>
    </thead>
    <tbody class="table-hover">
    {% for certificate in certificates %}
        <tr>
            <td>{{ certificate.title }}</td>
            <td>{{ certificate.description }}</td>
            <td><a href="{{ url_for('user_app.download_certificate', certificate_id=certificate.id) }}" class="btn btn-success btn-lg">Download certificate</a></td>

            <td>
                {% if certificate.revoked != 'TRUE' %}
                    <a href="{{ url_for('user_app.revoke_certificate', certificate_id=certificate.id) }}" class="btn btn-danger btn-lg">Revoke certificate</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">No certificates available</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('user_app.create_certificate') }}" class="btn btn-primary btn-lg">Create new certificate</a>
{% endblock %}