{% extends "main.html" %}
{% block title %}{{ super() }} - Verification result{% endblock %}

{% block content %}
    {% if verification_data.status == 1 %}
        <div class="panel panel-success">
    {% else %}
        <div class="panel panel-danger">
    {% endif %}

  <div class="panel-heading">{{ verification_data.status_text }}</div>
  <div class="panel-body">
    {{ verification_data.description }}
  </div>
</div>
<a href="{{ url_for('user_app.index') }}" class="btn btn-success btn-lg">Back to index</a>
{% endblock %}